<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.mapper.AgentMapper">

<!-- 后台进行申请表修改 -->
<update id="updateAgentapply" parameterType="AgentRequest">
update  agentrequest set arstate=#{arState} , ARresponsibility=#{arResponsibility} where arid=#{arId}
</update>
<!-- 后台查询所有申请表 -->
<select id="queryallapply" resultType="AgentRequest">
select * from AgentRequest 
</select>
<!-- 后台查询单个申请表 -->
<select id="queryagentapply" resultType="AgentRequest" parameterType="AgentRequest">
select * from AgentRequest  where agid=#{agId}
</select>
</mapper>