<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.mapper.IntegralPackageMapper">

<select id="insertNewPackage" >
insert into integralpackage (PName,Price,BonusIntegral,ConsumptionIntegral,SharingIntegral,vipQuota) 
values(#{pName},#{price},#{bonusIntegral},#{consumptionIntegral},#{sharingIntegral},#{vipQuota});
</select>

<delete id="deletePackage" parameterType="int">
delete from  integralpackage where Pid=#{pId}
</delete>

<insert id="insertNewPurchaseRecord">
insert into packagepurchaserecord (Pid,Rtime,Uid) values(#{integralPackage.pId},#{rTime},#{user.uId})
</insert>
<update id="buyPackage">
update member set BonusIntegral=#{bonusIntegral},ConsumptionIntegral=#{consumptionIntegral},SharingIntegral = #{sharingIntegral} where Mid = #{mId}
</update>

<select id="getAllPackage" resultType="com.dream.pojo.IntegralPackage">
    select * from integralpackage
</select>

<update id="updatePackage" parameterType="IntegralPackage">
update integralpackage  set
<if test="pName!=null and pName!=''">
pName=#{pName},
</if>
<if test="price!=0">
price=#{price},
</if>
<if test="bonusIntegral!=0">
bonusIntegral=#{bonusIntegral},
</if>
<if test="consumptionIntegral!=0">
consumptionIntegral=#{consumptionIntegral},
</if>
<if test="sharingIntegral!=0">
sharingIntegral=#{sharingIntegral},
</if>
<if test="superQuota!=0">
superQuota=#{superQuota}
</if>
where pId=#{pId}
</update>

</mapper>